<style>
  h1 {
    color:blue;
  }
</style>
<h1>Inicio</h1>

<h2>Directivas!!</h2>

<p *ngIf="true">SI</p>
<p *ngIf="false">NO</p>

<div [hidden]="true">
  Estoy oculto no eliminado
</div>

<ul>
  <li *ngfor="let nombre_variable of arregloObjetos">
    <button>a</button>
    <a href="">LINK</a>
    <p>{{ nombre_variable.nombre }}</p>
  </li>
</ul>

<h2>PIPES</h2>

{{fecha | date: 'yyyy mm DD'}}
{{sueldo | currency}}
{{universidad | uppercase}}






















<app-mi-primer-componente
  [titulo]="arregloObjetos[0].apellido"
  [textoImagen]="arregloObjetos[0].nombre"
  [textoBoton]="arregloObjetos[0].sueldo.toString()"
  [imagen]="arregloObjetos[0].comida"
  (cambioSueldo)="imprimirSueldo($event)"
></app-mi-primer-componente>






<app-mi-primer-componente
  [titulo]="arregloObjetos[1].apellido"
  [textoImagen]="arregloObjetos[1].nombre"
  [textoBoton]="arregloObjetos[1].sueldo.toString()"
  [imagen]="arregloObjetos[1].comida"
></app-mi-primer-componente>
<app-mi-primer-componente
  [titulo]="arregloObjetos[2].apellido"
  [textoImagen]="arregloObjetos[2].nombre"
  [textoBoton]="arregloObjetos[2].sueldo.toString()"
  [imagen]="arregloObjetos[2].comida"
></app-mi-primer-componente>
